body {
    font-family: 'Fredoka One', cursive;
    font-size: 40px;
    background: #8acdeb;
    color: #f6e69e;
    text-align: center;
}

.img-container {
    display: flex;
    justify-content: center;
}

.img-container>img {
    width: 80vw;
    border: #efede8 5px solid;
    border-radius: 32px;
    margin: 2vw;
}

.img-container>img:first-child {
    margin: 0;
}

h2 span {
    animation: color-animation 4s linear infinite;
}

#details {
    height: 100%;
    position: relative;
    padding-bottom: 2vh;
}

a {
    text-decoration: none;
    color: #f6e69e;
}

a:hover {
    text-decoration: underline;
    color: #f6f1db;
}

.word-1 {
    --color-1: rgb(252,250,243);
    --color-2: rgb(252,226,175);
    --color-3: rgb(252,226,175);
}

.word-2 {
    --color-1: rgb(252,226,175);
    --color-2: rgb(252,250,243);
    --color-3: rgb(252,226,175);
}

.word-3 {
    --color-1: rgb(252,226,175);
    --color-2: rgb(252,226,175);
    --color-3: rgb(252,250,243);
}

@keyframes color-animation {
    0%    {color: var(--color-1)}
    32%   {color: var(--color-1)}
    33%   {color: var(--color-2)}
    65%   {color: var(--color-2)}
    66%   {color: var(--color-3)}
    99%   {color: var(--color-3)}
    100%  {color: var(--color-1)}
}